*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom right, #606c88,#3f4c6b);    
    background-position: center;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    position: relative;
    margin-bottom: 20%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    justify-content: space-between;
    position: sticky;
    top: 0%;
    width: 100%;
    height: 151px;
    background-color: rgb(247, 197, 59);
    left: 0%;
}
.navbar {
    justify-content: space-around;
    height: 60px;
    width: 100%;
    position: relative;
}

#logo{
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    flex-direction: column;
}

.menu div{
    margin-bottom: 9px;
    height: 10px;
    width: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    transition: transform 0.2s;
}


.menuList{
    position: fixed;
    right: 0;
    background-color: white;
    height: 100%;
    width: 55%;
    background-color: rgb(247, 197, 59);;
    transition: transform 0.2s;
    z-index: 1;
}

.options2{
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.options2 li{
    margin-top: -120px;
    list-style: none;
    font-size: 60px;
}

.options2 li a{
    text-decoration: none;
    color: white;
}




.options{
    display: none;
}



.wlctext{
    height: 70%;
    margin-top: 5%;
    width: 70%;
    padding-left: 10%;
    padding-top: 4%; 
    height: 80%;
}

.wlctext h1{
    margin-top: 14%;
    color: white;
    font-size: 70px;
    font-family: cursive;
}

.wlctext p{
    margin-top: 14%;
    color: rgb(0, 55, 92);
    font-size: 46px;
    margin-bottom: 50px;
}

.wlctext a , .login-inner a{
    text-decoration: none;
    padding: 13px 10px;
    border-radius: 26px;
    transition: all 0.3s ease-out;
}
.wlctext a
{
    margin-top: 64%;
    color: white;
    font-size: 60px;
    background-color: rgb(240, 166, 29);
    border: 3px solid rgb(240, 166, 29);
}

.login-inner a{
    color: black;
    font-size: 22px;
    background-color: rgb(7, 114, 214);
    border: 3px solid rgb(7, 114, 214);
}

.wlctext a:hover , .login-inner a:hover{
    background-color: transparent;
}

.roadtrips {
   margin-top: 10%;
   display: block;
   padding-left: 20%;
}



.roadtrips h2{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -2%;
    margin-top: -6%;
}

.planbox{
    background: rgb(223, 172, 32);
    padding: 2%;
    margin-top: 6%;
    margin-left: 3%;
    border-radius: 40px;
    display: inline-block;
}

.planbox div p{
    color: white;
    font-size: 30px;
}



.login{
    
    background-color: white ;
    width: 32%;
    margin-left: 29%;
    margin-top: 60px;
    padding: 4%;
    border-radius: 6%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.301);
    
}

.login-inner , .credentials {
    flex-direction: column;
}

.user {
    background-color: rgb(95, 95, 197);
    display: inline-block;
    border-radius: 50%;
    padding: 6% 20%;
}

.user p{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.credentials {
    margin-top: 12%;
    padding: 8%;
    margin-bottom: 10%;
}
.credentials input{
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid yellow;
    padding: 4px;
    font-size: 20px;
    outline: none;
}

/* css for desktop */
@media only screen and (min-width:1000px){
    .head{
        background-color:  rgb(247, 59, 59);
    }

    .options li{
        display: inline-flex;
        text-decoration: none;
        margin: 0px 10px ;
        font-size: 26px ;
        color: white;
        transition: all 0.3s ease-out;
    
    }

    .options li:hover{
        cursor: pointer;
        color: rgb(29, 103, 240);
    }

    .menuList{
        display: none;
    }
}























